.id {
  font-weight: 700;
  color: rebeccapurple;
}
.id span {
  color: darkviolet;
}
.name {
  font-weight: 900;
}
.name span {
  font-style: italic;
}
.email {
  font-weight: 700;
  color: rgb(209, 8, 209);
}
.email span {
  font-style: italic;
  color: rgb(250, 91, 205);
}
.column {
  background-color: rgba(176, 196, 222, 0.193);
}